header{
  background-color: lightcyan;  
  box-shadow: 0 0 10px black;
  text-align: center;
  padding: 10px;
}
main{
  width: 90%;
  margin:auto;
  text-align: center;
}
nav a{
  display: inline-block;
  text-align: center;
  background-color: rgb(64,175,175);
  border-radius: 4px;
  margin: 6px;
  padding: 8px;
  transition: 0.2s;
  text-decoration: none;
}
nav a:hover{
  cursor: pointer;
  background-color: rgb(52,142,142);
}
